# Kaggle Titanic
## Logistic Regression with Python


For this lecture we will be working with the [Titanic Data Set from Kaggle](https://www.kaggle.com/c/titanic). This is a very famous dataset.

# Step - 1 : Frame The Problem

The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

# Step - 2 : Obtain the Data

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Pandas provides two important data types with in built functions to be able to provide extensive capability to handle the data.The datatypes include Series and DataFrames.

Pandas provides ways to read or get the data from various sources like read_csv,read_excel,read_html etc.The data is read and stored in the form of DataFrames.

In [2]:
# FOR GOOGLE COLAB, UNCOMMENT LINES BELOW

# !wget -q https://www.dropbox.com/s/8grgwn4b6y25frw/titanic.csv
# !ls -l
# data = pd.read_csv('titanic.csv')

In [3]:
# FOR JUPYTER NOTEBOOK, UNCOMMENT LINES BELOW

data = pd.read_csv('Titanic Data-Train.csv')

In [4]:
data.set_index('PassengerId', inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [6]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# Step - 3 : Analyse the Data

#### What do you observe from the above charts?

# Step - 4 : Feature Engineering

## Feature Engineering

We want to fill the missing values of the age in the dataset with the average age value for each of the classes. This is called data imputation.

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [8]:
# BL NOTE - SKIP THIS AND USE THE PANDAS CODE I CREATED BELOW
# def impute_age(cols):
#     Age = cols[0]
#     Pclass = cols[1]
    
#     if pd.isnull(Age):
#         # Class-1
#         if Pclass == 1:
#             return 37
#         # Class-2 
#         elif Pclass == 2:
#             return 29
#         # Class-3
#         else:
#             return 24

#     else:
#         return Age

Applying the function.

In [9]:
# data['Age'] = data[['Age','Pclass']].apply(impute_age,axis=1)

In [10]:
# BL NOTE - USE MY CODE TO GET THE MEAN VALUE FOR EACH CLASS INSTEAD OF HARD CODED NUMBERS
mean_age_Pclass1 = int(data.loc[data['Pclass']==1]['Age'].mean())
mean_age_Pclass2 = int(data.loc[data['Pclass']==2]['Age'].mean())
mean_age_Pclass3 = int(data.loc[data['Pclass']==3]['Age'].mean())

data.loc[(data['Age'].isnull() ) & (data['Pclass']==1), 'Age'] = mean_age_Pclass1
data.loc[(data['Age'].isnull() ) & (data['Pclass']==2), 'Age'] = mean_age_Pclass2
data.loc[(data['Age'].isnull() ) & (data['Pclass']==3), 'Age'] = mean_age_Pclass3

Now let's visualize the missing values.

The Age column is imputed sucessfully.

Let's drop the Cabin column and the row in the Embarked that is NaN.

In [11]:
data.drop('Cabin', axis = 1,inplace=True)

In [12]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [13]:
data.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    2
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.6+ KB

In [15]:
data.dropna(inplace = True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 1 to 891
Data columns (total 10 columns):
Survived    889 non-null int64
Pclass      889 non-null int64
Name        889 non-null object
Sex         889 non-null object
Age         889 non-null float64
SibSp       889 non-null int64
Parch       889 non-null int64
Ticket      889 non-null object
Fare        889 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 76.4+ KB

## Converting Categorical Features 

We'll need to convert categorical features to dummy variables using pandas! Otherwise our machine learning algorithm won't be able to directly take in those features as inputs.

In [17]:
sex_dummies = pd.get_dummies(data['Sex'],drop_first=1)
embark_dummies = pd.get_dummies(data['Embarked'],drop_first=1)
sex_dummies.head()

             male
PassengerId
1               1
2               0
3               0
4               0
5               1

In [18]:
embark_dummies.head()

             Q  S
PassengerId
1            0  1
2            0  0
3            0  1
4            0  1
5            0  1

In [19]:
data.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)
data.head()

             Survived  Pclass   Age  SibSp  Parch     Fare
PassengerId
1                   0       3  22.0      1      0   7.2500
2                   1       1  38.0      1      0  71.2833
3                   1       3  26.0      0      0   7.9250
4                   1       1  35.0      1      0  53.1000
5                   0       3  35.0      0      0   8.0500

In [20]:
data = pd.concat([data,sex_dummies,embark_dummies],axis=1)

In [21]:
data.head()

             Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
PassengerId
1                   0       3  22.0      1      0   7.2500     1  0  1
2                   1       1  38.0      1      0  71.2833     0  0  0
3                   1       3  26.0      0      0   7.9250     0  0  1
4                   1       1  35.0      1      0  53.1000     0  0  1
5                   0       3  35.0      0      0   8.0500     1  0  1

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 1 to 891
Data columns (total 9 columns):
Survived    889 non-null int64
Pclass      889 non-null int64
Age         889 non-null float64
SibSp       889 non-null int64
Parch       889 non-null int64
Fare        889 non-null float64
male        889 non-null uint8
Q           889 non-null uint8
S           889 non-null uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 51.2 KB

In [23]:
data.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,male,Q,S
count,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,0.382452,2.311586,29.206040,0.524184,0.382452,32.096681,0.649044,0.086614,0.724409
std,0.486260,0.834700,13.177747,1.103705,0.806761,49.697504,0.477538,0.281427,0.447063
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000
50%,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200,1.000000,0.000000,1.000000
75%,1.000000,3.000000,36.500000,1.000000,0.000000,31.000000,1.000000,0.000000,1.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000

# Step - 5 : Model Selection

In [24]:
Target = 'Survived'
X = data.drop(Target,axis=1)
y = data[Target]

In [25]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score,accuracy_score, f1_score

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [26]:
X_train.describe()

,Pclass,Age,SibSp,Parch,Fare,male,Q,S
count,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,2.320675,29.040211,0.527426,0.379747,32.102818,0.649789,0.085795,0.720113
std,0.829802,13.350864,1.093653,0.820055,51.872981,0.477372,0.280258,0.449260
min,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000
50%,3.000000,25.000000,0.000000,0.000000,14.454200,1.000000,0.000000,1.000000
75%,3.000000,36.000000,1.000000,0.000000,30.500000,1.000000,0.000000,1.000000
max,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000

**Standard Scaling**: Standardize features by removing the mean and scaling to unit variance  
Similar to normalization but changes the mean to be 0 and std dev = 1 (create bell curve for all data)  
[Standard Scaling SK Learn](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)

In [28]:
X_train = pd.DataFrame(X_train)
X_train.describe()

,0,1,2,3,4,5,6,7
count,7.110000e+02,7.110000e+02,7.110000e+02,7.110000e+02,7.110000e+02,7.110000e+02,7.110000e+02,7.110000e+02
mean,-6.870578e-17,8.978597e-17,4.591576e-16,1.826949e-16,5.664324e-17,1.052448e-16,2.005740e-16,-2.492146e-16
std,1.000704e+00,1.000704e+00,1.000704e+00,1.000704e+00,1.000704e+00,1.000704e+00,1.000704e+00,1.000704e+00
min,-1.592674e+00,-2.145206e+00,-4.826003e-01,-4.634007e-01,-6.193093e-01,-1.362139e+00,-3.063432e-01,-1.604015e+00
25%,-3.867196e-01,-5.276937e-01,-4.826003e-01,-4.634007e-01,-4.667063e-01,-1.362139e+00,-3.063432e-01,-1.604015e+00
50%,8.192350e-01,-3.028310e-01,-4.826003e-01,-4.634007e-01,-3.404671e-01,7.341397e-01,-3.063432e-01,6.234355e-01
75%,8.192350e-01,5.216658e-01,4.324099e-01,-4.634007e-01,-3.092065e-02,7.341397e-01,-3.063432e-01,6.234355e-01
max,8.192350e-01,3.819653e+00,6.837481e+00,6.858330e+00,9.264254e+00,7.341397e-01,3.264313e+00,6.234355e-01

Notice that mean = 0 and std = 1 (when rounded)

In [29]:
X_test = sc.transform(X_test) # uses the scaling factors used in X_train above. So only transform must be done. No Fitting

In [30]:
type(X_train)

pandas.core.frame.DataFrame

# Now lets make ANN

#### For Jupyter Notebook, make sure Keras and TensorFlow is installed first
- [Keras Installation Instructions](https://keras.io/#installation)  
- [Tensorflow Installation Instructions](https://www.tensorflow.org/install)

In [31]:
import numpy as np
np.__version__

'1.16.3'

In [32]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [33]:
# Initializing the ANN
classifier = Sequential()

In [34]:
X_train.shape

(711, 8)

In [35]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 9, kernel_initializer = 'uniform', 
                     activation = 'relu', input_dim = X_train.shape[1]))

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

**ACTIVATION FUNCTIONS**

- relu = filters out negative values (Usually a very effective activation function)
- sigmoid = between 0 and 1.  Provides the probability of survival for titanic passengers
- accuracy = ??

In [36]:
# Adding the second hidden layer
classifier.add(Dense(units = 10, kernel_initializer = 'uniform', activation = 'relu'))

In [37]:
# Adding the third hidden layer
classifier.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))

In [38]:
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [39]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [40]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 9)                 81
_________________________________________________________________
dense_2 (Dense)              (None, 10)                100
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 9
=================================================================
Total params: 278
Trainable params: 278
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, verbose=1, batch_size = 500, epochs = 200)

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/200
711/711 [==============================] - 0s 542us/step - loss: 0.6931 - acc: 0.5485
Epoch 2/200
711/711 [==============================] - 0s 10us/step - loss: 0.6928 - acc: 0.6245
Epoch 3/200
711/711 [==============================] - 0s 10us/step - loss: 0.6926 - acc: 0.6245
Epoch 4/200
711/711 [==============================] - 0s 9us/step - loss: 0.6923 - acc: 0.6245
Epoch 5/200
711/711 [==============================] - 0s 10us/step - loss: 0.6921 - acc: 0.6245
Epoch 6/200
711/711 [==============================] - 0s 9us/step - loss: 0.6918 - acc: 0.6245
Epoch 7/200
711/711 [==============================] - 0s 13us/step - loss: 0.6915 - acc: 0.6245
Epoch 8/200
711/711 [==============================] - 0s 19us/step - loss: 0.6913 - acc: 0.6245
Epoch 9/200
711/711 [==============================] - 0s 12us/step - loss: 0.6910 - acc: 0.6245
Epoch 10/200
711/711 [==============================] - 0s 9us/step - loss: 0.6907 - acc: 0.6245
Epoch 11/200
711/711 [==============================] - 0s 10us/step - loss: 0.6904 - acc: 0.6245
Epoch 12/200
711/711 [==============================] - 0s 10us/step - loss: 0.6902 - acc: 0.6245
Epoch 13/200
711/711 [==============================] - 0s 10us/step - loss: 0.6899 - acc: 0.6245
Epoch 14/200
711/711 [==============================] - 0s 10us/step - loss: 0.6896 - acc: 0.6245
Epoch 15/200
711/711 [==============================] - 0s 9us/step - loss: 0.6893 - acc: 0.6245
Epoch 16/200
711/711 [==============================] - 0s 9us/step - loss: 0.6890 - acc: 0.6245
Epoch 17/200
711/711 [==============================] - 0s 10us/step - loss: 0.6886 - acc: 0.6245
Epoch 18/200
711/711 [==============================] - 0s 9us/step - loss: 0.6883 - acc: 0.6245
Epoch 19/200
711/711 [==============================] - 0s 21us/step - loss: 0.6879 - acc: 0.6245
Epoch 20/200
711/711 [==============================] - 0s 13us/step - loss: 0.6875 - acc: 0.6245
Epoch 21/200
711/711 [==============================] - 0s 14us/step - loss: 0.6871 - acc: 0.6245
Epoch 22/200
711/711 [==============================] - 0s 13us/step - loss: 0.6867 - acc: 0.6245
Epoch 23/200
711/711 [==============================] - 0s 12us/step - loss: 0.6862 - acc: 0.6245
Epoch 24/200
711/711 [==============================] - 0s 10us/step - loss: 0.6856 - acc: 0.6245
Epoch 25/200
711/711 [==============================] - 0s 9us/step - loss: 0.6851 - acc: 0.6245
Epoch 26/200
711/711 [==============================] - 0s 11us/step - loss: 0.6845 - acc: 0.6245
Epoch 27/200
711/711 [==============================] - 0s 8us/step - loss: 0.6838 - acc: 0.6245
Epoch 28/200
711/711 [==============================] - 0s 9us/step - loss: 0.6831 - acc: 0.6245
Epoch 29/200
711/711 [==============================] - 0s 10us/step - loss: 0.6823 - acc: 0.6245
Epoch 30/200
711/711 [==============================] - 0s 12us/step - loss: 0.6815 - acc: 0.6245
Epoch 31/200
711/711 [==============================] - 0s 10us/step - loss: 0.6805 - acc: 0.6245
Epoch 32/200
711/711 [==============================] - 0s 30us/step - loss: 0.6795 - acc: 0.6245
Epoch 33/200
711/711 [==============================] - 0s 15us/step - loss: 0.6784 - acc: 0.6245
Epoch 34/200
711/711 [==============================] - 0s 16us/step - loss: 0.6772 - acc: 0.6245
Epoch 35/200
711/711 [==============================] - 0s 11us/step - loss: 0.6759 - acc: 0.6245
Epoch 36/200
711/711 [==============================] - 0s 10us/step - loss: 0.6745 - acc: 0.6245
Epoch 37/200
711/711 [==============================] - 0s 10us/step - loss: 0.6729 - acc: 0.6245
Epoch 38/200
711/711 [==============================] - 0s 10us/step - loss: 0.6713 - acc: 0.6245
Epoch 39/200
711/711 [==============================] - 0s 11us/step - loss: 0.6694 - acc: 0.6245
Epoch 40/200
711/711 [==============================] - 0s 9us/step - loss: 0.6675 - acc: 0.6245
Epoch 41/200
711/711 [==============================] - 0s 11us/step - loss: 0.6653 - acc: 0.6245
Epoch 42/200
711/711 [==============================] - 0s 8us/step - loss: 0.6631 - acc: 0.6259
Epoch 43/200
711/711 [==============================] - 0s 10us/step - loss: 0.6606 - acc: 0.6273
Epoch 44/200
711/711 [==============================] - 0s 10us/step - loss: 0.6580 - acc: 0.6315
Epoch 45/200
711/711 [==============================] - 0s 9us/step - loss: 0.6551 - acc: 0.6371
Epoch 46/200
711/711 [==============================] - 0s 9us/step - loss: 0.6520 - acc: 0.6456
Epoch 47/200
711/711 [==============================] - 0s 10us/step - loss: 0.6488 - acc: 0.6667
Epoch 48/200
711/711 [==============================] - 0s 10us/step - loss: 0.6453 - acc: 0.6878
Epoch 49/200
711/711 [==============================] - 0s 8us/step - loss: 0.6416 - acc: 0.7032
Epoch 50/200
711/711 [==============================] - 0s 9us/step - loss: 0.6377 - acc: 0.7300
Epoch 51/200
711/711 [==============================] - 0s 8us/step - loss: 0.6336 - acc: 0.7553
Epoch 52/200
711/711 [==============================] - 0s 8us/step - loss: 0.6291 - acc: 0.7722
Epoch 53/200
711/711 [==============================] - 0s 18us/step - loss: 0.6246 - acc: 0.7961
Epoch 54/200
711/711 [==============================] - 0s 12us/step - loss: 0.6197 - acc: 0.8073
Epoch 55/200
711/711 [==============================] - 0s 10us/step - loss: 0.6146 - acc: 0.8186
Epoch 56/200
711/711 [==============================] - 0s 12us/step - loss: 0.6093 - acc: 0.8214
Epoch 57/200
711/711 [==============================] - 0s 9us/step - loss: 0.6037 - acc: 0.8228
Epoch 58/200
711/711 [==============================] - 0s 13us/step - loss: 0.5980 - acc: 0.8228
Epoch 59/200
711/711 [==============================] - 0s 8us/step - loss: 0.5922 - acc: 0.8270
Epoch 60/200
711/711 [==============================] - 0s 10us/step - loss: 0.5860 - acc: 0.8256
Epoch 61/200
711/711 [==============================] - 0s 10us/step - loss: 0.5798 - acc: 0.8256
Epoch 62/200
711/711 [==============================] - 0s 9us/step - loss: 0.5735 - acc: 0.8242
Epoch 63/200
711/711 [==============================] - 0s 10us/step - loss: 0.5668 - acc: 0.8228
Epoch 64/200
711/711 [==============================] - 0s 9us/step - loss: 0.5601 - acc: 0.8256
Epoch 65/200
711/711 [==============================] - 0s 11us/step - loss: 0.5533 - acc: 0.8256
Epoch 66/200
711/711 [==============================] - 0s 12us/step - loss: 0.5467 - acc: 0.8284
Epoch 67/200
711/711 [==============================] - 0s 20us/step - loss: 0.5397 - acc: 0.8242
Epoch 68/200
711/711 [==============================] - 0s 14us/step - loss: 0.5329 - acc: 0.8256
Epoch 69/200
711/711 [==============================] - 0s 9us/step - loss: 0.5262 - acc: 0.8256
Epoch 70/200
711/711 [==============================] - 0s 14us/step - loss: 0.5193 - acc: 0.8298
Epoch 71/200
711/711 [==============================] - 0s 10us/step - loss: 0.5127 - acc: 0.8298
Epoch 72/200
711/711 [==============================] - 0s 10us/step - loss: 0.5062 - acc: 0.8298
Epoch 73/200
711/711 [==============================] - 0s 9us/step - loss: 0.4995 - acc: 0.8298
Epoch 74/200
711/711 [==============================] - 0s 10us/step - loss: 0.4934 - acc: 0.8298
Epoch 75/200
711/711 [==============================] - 0s 12us/step - loss: 0.4872 - acc: 0.8284
Epoch 76/200
711/711 [==============================] - 0s 10us/step - loss: 0.4814 - acc: 0.8298
Epoch 77/200
711/711 [==============================] - 0s 11us/step - loss: 0.4756 - acc: 0.8326
Epoch 78/200
711/711 [==============================] - 0s 11us/step - loss: 0.4702 - acc: 0.8312
Epoch 79/200
711/711 [==============================] - 0s 9us/step - loss: 0.4651 - acc: 0.8298
Epoch 80/200
711/711 [==============================] - 0s 10us/step - loss: 0.4602 - acc: 0.8284
Epoch 81/200
711/711 [==============================] - 0s 9us/step - loss: 0.4555 - acc: 0.8312
Epoch 82/200
711/711 [==============================] - 0s 9us/step - loss: 0.4512 - acc: 0.8326
Epoch 83/200
711/711 [==============================] - 0s 10us/step - loss: 0.4470 - acc: 0.8354
Epoch 84/200
711/711 [==============================] - 0s 11us/step - loss: 0.4429 - acc: 0.8326
Epoch 85/200
711/711 [==============================] - 0s 11us/step - loss: 0.4393 - acc: 0.8326
Epoch 86/200
711/711 [==============================] - 0s 15us/step - loss: 0.4362 - acc: 0.8354
Epoch 87/200
711/711 [==============================] - 0s 13us/step - loss: 0.4327 - acc: 0.8340
Epoch 88/200
711/711 [==============================] - 0s 14us/step - loss: 0.4296 - acc: 0.8326
Epoch 89/200
711/711 [==============================] - 0s 13us/step - loss: 0.4269 - acc: 0.8383
Epoch 90/200
711/711 [==============================] - 0s 12us/step - loss: 0.4244 - acc: 0.8383
Epoch 91/200
711/711 [==============================] - 0s 12us/step - loss: 0.4221 - acc: 0.8397
Epoch 92/200
711/711 [==============================] - 0s 14us/step - loss: 0.4197 - acc: 0.8368
Epoch 93/200
711/711 [==============================] - 0s 12us/step - loss: 0.4177 - acc: 0.8368
Epoch 94/200
711/711 [==============================] - 0s 11us/step - loss: 0.4158 - acc: 0.8368
Epoch 95/200
711/711 [==============================] - 0s 11us/step - loss: 0.4140 - acc: 0.8368
Epoch 96/200
711/711 [==============================] - 0s 11us/step - loss: 0.4124 - acc: 0.8368
Epoch 97/200
711/711 [==============================] - 0s 12us/step - loss: 0.4108 - acc: 0.8383
Epoch 98/200
711/711 [==============================] - 0s 12us/step - loss: 0.4095 - acc: 0.8354
Epoch 99/200
711/711 [==============================] - 0s 13us/step - loss: 0.4083 - acc: 0.8354
Epoch 100/200
711/711 [==============================] - 0s 14us/step - loss: 0.4070 - acc: 0.8354
Epoch 101/200
711/711 [==============================] - 0s 11us/step - loss: 0.4059 - acc: 0.8383
Epoch 102/200
711/711 [==============================] - 0s 12us/step - loss: 0.4050 - acc: 0.8383
Epoch 103/200
711/711 [==============================] - 0s 17us/step - loss: 0.4042 - acc: 0.8383
Epoch 104/200
711/711 [==============================] - 0s 11us/step - loss: 0.4034 - acc: 0.8368
Epoch 105/200
711/711 [==============================] - 0s 10us/step - loss: 0.4027 - acc: 0.8383
Epoch 106/200
711/711 [==============================] - 0s 10us/step - loss: 0.4019 - acc: 0.8383
Epoch 107/200
711/711 [==============================] - 0s 12us/step - loss: 0.4011 - acc: 0.8397
Epoch 108/200
711/711 [==============================] - 0s 11us/step - loss: 0.4004 - acc: 0.8383
Epoch 109/200
711/711 [==============================] - 0s 10us/step - loss: 0.3998 - acc: 0.8383
Epoch 110/200
711/711 [==============================] - 0s 11us/step - loss: 0.3991 - acc: 0.8368
Epoch 111/200
711/711 [==============================] - 0s 9us/step - loss: 0.3986 - acc: 0.8340
Epoch 112/200
711/711 [==============================] - 0s 11us/step - loss: 0.3981 - acc: 0.8354
Epoch 113/200
711/711 [==============================] - 0s 12us/step - loss: 0.3976 - acc: 0.8340
Epoch 114/200
711/711 [==============================] - 0s 12us/step - loss: 0.3971 - acc: 0.8312
Epoch 115/200
711/711 [==============================] - 0s 11us/step - loss: 0.3967 - acc: 0.8298
Epoch 116/200
711/711 [==============================] - 0s 12us/step - loss: 0.3962 - acc: 0.8312
Epoch 117/200
711/711 [==============================] - 0s 10us/step - loss: 0.3958 - acc: 0.8298
Epoch 118/200
711/711 [==============================] - 0s 12us/step - loss: 0.3954 - acc: 0.8298
Epoch 119/200
711/711 [==============================] - 0s 11us/step - loss: 0.3950 - acc: 0.8284
Epoch 120/200
711/711 [==============================] - 0s 9us/step - loss: 0.3947 - acc: 0.8284
Epoch 121/200
711/711 [==============================] - 0s 13us/step - loss: 0.3943 - acc: 0.8284
Epoch 122/200
711/711 [==============================] - 0s 11us/step - loss: 0.3941 - acc: 0.8284
Epoch 123/200
711/711 [==============================] - 0s 11us/step - loss: 0.3937 - acc: 0.8284
Epoch 124/200
711/711 [==============================] - 0s 11us/step - loss: 0.3934 - acc: 0.8284
Epoch 125/200
711/711 [==============================] - 0s 13us/step - loss: 0.3932 - acc: 0.8326
Epoch 126/200
711/711 [==============================] - 0s 12us/step - loss: 0.3929 - acc: 0.8326
Epoch 127/200
711/711 [==============================] - 0s 11us/step - loss: 0.3925 - acc: 0.8326
Epoch 128/200
711/711 [==============================] - 0s 11us/step - loss: 0.3923 - acc: 0.8326
Epoch 129/200
711/711 [==============================] - 0s 10us/step - loss: 0.3920 - acc: 0.8354
Epoch 130/200
711/711 [==============================] - 0s 11us/step - loss: 0.3917 - acc: 0.8354
Epoch 131/200
711/711 [==============================] - 0s 12us/step - loss: 0.3914 - acc: 0.8368
Epoch 132/200
711/711 [==============================] - 0s 10us/step - loss: 0.3912 - acc: 0.8368
Epoch 133/200
711/711 [==============================] - 0s 12us/step - loss: 0.3909 - acc: 0.8340
Epoch 134/200
711/711 [==============================] - 0s 10us/step - loss: 0.3906 - acc: 0.8340
Epoch 135/200
711/711 [==============================] - 0s 12us/step - loss: 0.3903 - acc: 0.8326
Epoch 136/200
711/711 [==============================] - 0s 13us/step - loss: 0.3900 - acc: 0.8326
Epoch 137/200
711/711 [==============================] - 0s 10us/step - loss: 0.3896 - acc: 0.8326
Epoch 138/200
711/711 [==============================] - 0s 18us/step - loss: 0.3895 - acc: 0.8354
Epoch 139/200
711/711 [==============================] - 0s 13us/step - loss: 0.3890 - acc: 0.8368
Epoch 140/200
711/711 [==============================] - 0s 10us/step - loss: 0.3887 - acc: 0.8354
Epoch 141/200
711/711 [==============================] - 0s 15us/step - loss: 0.3884 - acc: 0.8340
Epoch 142/200
711/711 [==============================] - 0s 13us/step - loss: 0.3880 - acc: 0.8368
Epoch 143/200
711/711 [==============================] - 0s 10us/step - loss: 0.3876 - acc: 0.8411
Epoch 144/200
711/711 [==============================] - 0s 14us/step - loss: 0.3873 - acc: 0.8411
Epoch 145/200
711/711 [==============================] - 0s 11us/step - loss: 0.3869 - acc: 0.8425
Epoch 146/200
711/711 [==============================] - 0s 12us/step - loss: 0.3866 - acc: 0.8425
Epoch 147/200
711/711 [==============================] - 0s 14us/step - loss: 0.3862 - acc: 0.8439
Epoch 148/200
711/711 [==============================] - 0s 12us/step - loss: 0.3858 - acc: 0.8439
Epoch 149/200
711/711 [==============================] - 0s 12us/step - loss: 0.3854 - acc: 0.8453
Epoch 150/200
711/711 [==============================] - 0s 11us/step - loss: 0.3851 - acc: 0.8439
Epoch 151/200
711/711 [==============================] - 0s 10us/step - loss: 0.3847 - acc: 0.8439
Epoch 152/200
711/711 [==============================] - 0s 11us/step - loss: 0.3844 - acc: 0.8439
Epoch 153/200
711/711 [==============================] - 0s 12us/step - loss: 0.3841 - acc: 0.8411
Epoch 154/200
711/711 [==============================] - 0s 13us/step - loss: 0.3838 - acc: 0.8397
Epoch 155/200
711/711 [==============================] - 0s 11us/step - loss: 0.3837 - acc: 0.8397
Epoch 156/200
711/711 [==============================] - 0s 10us/step - loss: 0.3833 - acc: 0.8397
Epoch 157/200
711/711 [==============================] - 0s 12us/step - loss: 0.3831 - acc: 0.8411
Epoch 158/200
711/711 [==============================] - 0s 12us/step - loss: 0.3828 - acc: 0.8425
Epoch 159/200
711/711 [==============================] - 0s 11us/step - loss: 0.3826 - acc: 0.8425
Epoch 160/200
711/711 [==============================] - 0s 11us/step - loss: 0.3823 - acc: 0.8411
Epoch 161/200
711/711 [==============================] - 0s 11us/step - loss: 0.3821 - acc: 0.8425
Epoch 162/200
711/711 [==============================] - 0s 12us/step - loss: 0.3819 - acc: 0.8411
Epoch 163/200
711/711 [==============================] - 0s 11us/step - loss: 0.3817 - acc: 0.8425
Epoch 164/200
711/711 [==============================] - 0s 11us/step - loss: 0.3815 - acc: 0.8425
Epoch 165/200
711/711 [==============================] - 0s 13us/step - loss: 0.3813 - acc: 0.8425
Epoch 166/200
711/711 [==============================] - 0s 12us/step - loss: 0.3811 - acc: 0.8425
Epoch 167/200
711/711 [==============================] - 0s 12us/step - loss: 0.3810 - acc: 0.8425
Epoch 168/200
711/711 [==============================] - 0s 13us/step - loss: 0.3808 - acc: 0.8439
Epoch 169/200
711/711 [==============================] - 0s 10us/step - loss: 0.3808 - acc: 0.8439
Epoch 170/200
711/711 [==============================] - 0s 10us/step - loss: 0.3807 - acc: 0.8439
Epoch 171/200
711/711 [==============================] - 0s 11us/step - loss: 0.3805 - acc: 0.8439
Epoch 172/200
711/711 [==============================] - 0s 10us/step - loss: 0.3803 - acc: 0.8425
Epoch 173/200
711/711 [==============================] - 0s 11us/step - loss: 0.3801 - acc: 0.8411
Epoch 174/200
711/711 [==============================] - 0s 11us/step - loss: 0.3799 - acc: 0.8411
Epoch 175/200
711/711 [==============================] - 0s 11us/step - loss: 0.3796 - acc: 0.8425
Epoch 176/200
711/711 [==============================] - 0s 12us/step - loss: 0.3795 - acc: 0.8439
Epoch 177/200
711/711 [==============================] - 0s 12us/step - loss: 0.3793 - acc: 0.8481
Epoch 178/200
711/711 [==============================] - 0s 11us/step - loss: 0.3793 - acc: 0.8481
Epoch 179/200
711/711 [==============================] - 0s 11us/step - loss: 0.3791 - acc: 0.8481
Epoch 180/200
711/711 [==============================] - 0s 11us/step - loss: 0.3790 - acc: 0.8467
Epoch 181/200
711/711 [==============================] - 0s 10us/step - loss: 0.3788 - acc: 0.8481
Epoch 182/200
711/711 [==============================] - 0s 10us/step - loss: 0.3788 - acc: 0.8439
Epoch 183/200
711/711 [==============================] - 0s 10us/step - loss: 0.3786 - acc: 0.8453
Epoch 184/200
711/711 [==============================] - 0s 12us/step - loss: 0.3786 - acc: 0.8453
Epoch 185/200
711/711 [==============================] - 0s 11us/step - loss: 0.3785 - acc: 0.8453
Epoch 186/200
711/711 [==============================] - 0s 11us/step - loss: 0.3784 - acc: 0.8467
Epoch 187/200
711/711 [==============================] - 0s 11us/step - loss: 0.3781 - acc: 0.8453
Epoch 188/200
711/711 [==============================] - 0s 10us/step - loss: 0.3780 - acc: 0.8453
Epoch 189/200
711/711 [==============================] - 0s 12us/step - loss: 0.3778 - acc: 0.8453
Epoch 190/200
711/711 [==============================] - 0s 9us/step - loss: 0.3776 - acc: 0.8453
Epoch 191/200
711/711 [==============================] - 0s 10us/step - loss: 0.3775 - acc: 0.8467
Epoch 192/200
711/711 [==============================] - 0s 10us/step - loss: 0.3774 - acc: 0.8467
Epoch 193/200
711/711 [==============================] - 0s 8us/step - loss: 0.3772 - acc: 0.8425
Epoch 194/200
711/711 [==============================] - 0s 8us/step - loss: 0.3771 - acc: 0.8439
Epoch 195/200
711/711 [==============================] - 0s 10us/step - loss: 0.3770 - acc: 0.8453
Epoch 196/200
711/711 [==============================] - 0s 9us/step - loss: 0.3768 - acc: 0.8439
Epoch 197/200
711/711 [==============================] - 0s 10us/step - loss: 0.3767 - acc: 0.8467
Epoch 198/200
711/711 [==============================] - 0s 14us/step - loss: 0.3765 - acc: 0.8481
Epoch 199/200
711/711 [==============================] - 0s 13us/step - loss: 0.3764 - acc: 0.8495
Epoch 200/200
711/711 [==============================] - 0s 11us/step - loss: 0.3764 - acc: 0.8495

In [42]:
classifier.weights

[<tf.Variable 'dense_1/kernel:0' shape=(8, 9) dtype=float32_ref>,
 <tf.Variable 'dense_1/bias:0' shape=(9,) dtype=float32_ref>,
 <tf.Variable 'dense_2/kernel:0' shape=(9, 10) dtype=float32_ref>,
 <tf.Variable 'dense_2/bias:0' shape=(10,) dtype=float32_ref>,
 <tf.Variable 'dense_3/kernel:0' shape=(10, 8) dtype=float32_ref>,
 <tf.Variable 'dense_3/bias:0' shape=(8,) dtype=float32_ref>,
 <tf.Variable 'dense_4/kernel:0' shape=(8, 1) dtype=float32_ref>,
 <tf.Variable 'dense_4/bias:0' shape=(1,) dtype=float32_ref>]

In [43]:
#Part 3 - Making predictions and evaluating the model

In [44]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.3)

In [45]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[79, 26],
       [21, 52]])

In [46]:
y_pred[:,0]

array([ True, False,  True,  True, False,  True, False, False,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
       False,  True,  True,  True,  True, False, False, False,  True,
        True,  True, False,  True, False, False,  True, False, False,
       False, False, False, False,  True, False,  True, False,  True,
       False, False, False, False, False,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True, False, False,
       False, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True, False, False,  True, False, False,
        True,  True,  True,  True,  True, False, False, False, False,
       False,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True, False,  True, False,  True, False, False,
       False,  True,  True,  True, False,  True, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False,  True,  True, False, False, False,  True,  True,
        True, False, False,  True, False, False, False, False,  True,
       False, False, False,  True,  True,  True, False, False, False,
        True, False, False,  True, False,  True, False,  True, False,
       False, False, False, False, False,  True,  True])

# Step - 7 : Predict on New Cases
## Prediction on Test Data From Kaggle

create an account on www.kaggle.com

TODO - LOAD ACTUAL TEST DATA FROM KAGGLE, CLEAN DATA, RUN NEURAL NET MODEL ON DATA, SUBMIT RESULTS

In [47]:
# FOR GOOGLE COLAB - UNCOMMENT LINES BELOW

# !wget -q https://www.dropbox.com/s/t9i5j6ki0qsf989/Titanic%20Data-Test.csv?dl=0
# !ls -l
# test_data = pd.read_csv('Titanic Data-Test.csv')

In [48]:
# FOR JUPYTER NOTEBOOK - UNCOMMENT LINES BELOW

test_data = pd.read_csv('Titanic Data-Test.csv')

In [49]:
test_data.set_index('PassengerId', inplace=True)
test_data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [50]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        417 non-null float64
Cabin       91 non-null object
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB

In [51]:
test_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.head()

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
892               3    male  34.5      0      0   7.8292        Q
893               3  female  47.0      1      0   7.0000        S
894               2    male  62.0      0      0   9.6875        Q
895               3    male  27.0      0      0   8.6625        S
896               3  female  22.0      1      1  12.2875        S

In [52]:
test_data['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [53]:
embarked_dummies = pd.get_dummies(test_data['Embarked'], drop_first=True)
embarked_dummies.head()

             Q  S
PassengerId
892          1  0
893          0  1
894          1  0
895          0  1
896          0  1

In [54]:
test_data['Sex'].value_counts()

male      266
female    152
Name: Sex, dtype: int64

In [55]:
male = pd.get_dummies(test_data['Sex'], drop_first=True)
male.head()

             male
PassengerId
892             1
893             0
894             1
895             1
896             0

In [56]:
test_data = pd.concat([test_data, embarked_dummies, male], axis=1)
test_data.head()

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Q  S  male
PassengerId
892               3    male  34.5      0      0   7.8292        Q  1  0     1
893               3  female  47.0      1      0   7.0000        S  0  1     0
894               2    male  62.0      0      0   9.6875        Q  1  0     1
895               3    male  27.0      0      0   8.6625        S  0  1     1
896               3  female  22.0      1      1  12.2875        S  0  1     0

In [57]:
test_data.drop(['Sex', 'Embarked'], axis=1, inplace=True)
test_data.head()

             Pclass   Age  SibSp  Parch     Fare  Q  S  male
PassengerId
892               3  34.5      0      0   7.8292  1  0     1
893               3  47.0      1      0   7.0000  0  1     0
894               2  62.0      0      0   9.6875  1  0     1
895               3  27.0      0      0   8.6625  0  1     1
896               3  22.0      1      1  12.2875  0  1     0

In [58]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 8 columns):
Pclass    418 non-null int64
Age       332 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      417 non-null float64
Q         418 non-null uint8
S         418 non-null uint8
male      418 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 20.8 KB

In [59]:
test_data.isnull().sum()

Pclass     0
Age       86
SibSp      0
Parch      0
Fare       1
Q          0
S          0
male       0
dtype: int64

In [60]:
t_mean_age_Pclass1 = int(test_data.loc[test_data['Pclass']==1]['Age'].mean())
t_mean_age_Pclass2 = int(test_data.loc[test_data['Pclass']==2]['Age'].mean())
t_mean_age_Pclass3 = int(test_data.loc[test_data['Pclass']==3]['Age'].mean())

test_data.loc[(test_data['Age'].isnull() ) & (test_data['Pclass']==1), 'Age'] = t_mean_age_Pclass1
test_data.loc[(test_data['Age'].isnull() ) & (test_data['Pclass']==2), 'Age'] = t_mean_age_Pclass2
test_data.loc[(test_data['Age'].isnull() ) & (test_data['Pclass']==3), 'Age'] = t_mean_age_Pclass3

In [61]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 8 columns):
Pclass    418 non-null int64
Age       418 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      417 non-null float64
Q         418 non-null uint8
S         418 non-null uint8
male      418 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 20.8 KB

In [62]:
test_data.dropna(inplace=True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 892 to 1309
Data columns (total 8 columns):
Pclass    417 non-null int64
Age       417 non-null float64
SibSp     417 non-null int64
Parch     417 non-null int64
Fare      417 non-null float64
Q         417 non-null uint8
S         417 non-null uint8
male      417 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 20.8 KB

In [64]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(test_data)
X_test = sc.transform(test_data)
X_test = pd.DataFrame(X_test)
X_test.describe()

,0,1,2,3,4,5,6,7
count,4.170000e+02,4.170000e+02,4.170000e+02,4.170000e+02,4.170000e+02,4.170000e+02,4.170000e+02,4.170000e+02
mean,-1.064962e-17,-6.709261e-17,-4.259849e-17,-6.789134e-17,-5.258251e-17,6.656013e-18,1.895633e-16,-6.549517e-17
std,1.001201e+00,1.001201e+00,1.001201e+00,1.001201e+00,1.001201e+00,1.001201e+00,1.001201e+00,1.001201e+00
min,-1.502602e+00,-2.265063e+00,-5.002182e-01,-4.008043e-01,-6.380170e-01,-3.521210e-01,-1.348172e+00,-1.320387e+00
25%,-1.502602e+00,-4.898548e-01,-5.002182e-01,-4.008043e-01,-4.966178e-01,-3.521210e-01,-1.348172e+00,-1.320387e+00
50%,8.753298e-01,-3.343394e-01,-5.002182e-01,-4.008043e-01,-3.791690e-01,-3.521210e-01,7.417452e-01,7.573539e-01
75%,8.753298e-01,5.209952e-01,6.152416e-01,-4.008043e-01,-7.391031e-02,-3.521210e-01,7.417452e-01,7.573539e-01
max,8.753298e-01,3.631303e+00,8.423460e+00,8.771260e+00,8.536851e+00,2.839933e+00,7.417452e-01,7.573539e-01

In [78]:
# Predicting the Test set results
test_y_pred = classifier.predict(X_test)
test_y_pred = (test_y_pred > 0.3)
test_y_pred = pd.DataFrame(test_y_pred)
test_y_pred.tail()

         0
412  False
413   True
414  False
415  False
416  False

In [81]:
results = pd.DataFrame()
results['PassengerId'] = test_data.index
results['Survived'] = test_y_pred
results.tail()

     PassengerId  Survived
412         1305     False
413         1306      True
414         1307     False
415         1308     False
416         1309     False

In [85]:
results['Survived'] = results['Survived'].apply(lambda x: x*1)
results.tail()

     PassengerId  Survived
412         1305         0
413         1306         1
414         1307         0
415         1308         0
416         1309         0

In [ ]:
# FOR GOOGLE COLAB - UNCOMMENT LINES BELOW

# filename = "Titanic result ANN 2019-05-04.csv"
# results.to_csv(filename, index=False)
# from google.colab import files
# files.download(filename)

In [86]:
# FOR JUPYTER NOTEBOOK - UNCOMMENT LINES BELOW AND UPDATE FILENAME

filename = "Titanic Results/Titanic result ANN 2019-05-04.csv"
results.to_csv(filename, index=False)